<div style="visibility: hidden;">
	<div id="title" style="color: #FFFFFF; position: absolute; left: 124px; top: 25px; font-family: Arial; font-size: 36px; font-weight: bold"></div>
	<div id="version" style="color: #FFFFFF; position: absolute; left: 113px; top: 400px; font-family: Arial; font-size: 18px; font-weight: bold"></div>
	<img src="images/splash.png" style="position: absolute; left: 80px; top: 148px;"></img>
	<div style="background-color: #0064C4; height: 480px; width: 320px;" height=100% width=100%></div>
</div>
