<div id="main" class="palm-hasheader">
	<div class="palm-header center" id="main-hdr"></div>
</div>
<div x-mojo-element="Spinner" id="spinnerId" name="spinnerName"></div>
<div id="filter" style="visibility: hidden; display: none;">
	<table border=0 cellpadding=0 cellspacing=0>
		<tr>
			<td>
				<div class="palm-group unlabeled" style="width: 210px;">
					<div class="palm-group-title" x-mojo-loc=''>Filter</div>
						<div class="palm-list">
					   		<div class="palm-row single">
								<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
									<div class="title">
					      				<div x-mojo-element="TextField" id="txtFilter"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</td>
			<td>
				<div x-mojo-element="Button" id="btnGo" class="buttonfloat" style="width: 60px;">				
			</td>
		</tr>	
	</table>
</div>
<div id="lstTasks" x-mojo-element="List"></div>
<div style="position: fixed; left: 0px; top: 0px; z-index: -1; background-color: #FFFFFF; height: 480px; width: 320px;" height=100% width=100%></div>
