<div id="main" class="palm-hasheader">
	<div class="palm-header center" id="main-hdr">Settings</div>		
</div>

<div class="sectionHead">Background Updates</div>

<center><div x-mojo-element="RadioButton" id="bgUpdateStatusRadio"></div></center>

<center><div x-mojo-element="RadioButton" id="bgUpdateRateRadio"></div></center>

<center><div x-mojo-element="RadioButton" id="bgNotificationsRadio"></div></center>

<div style="position: fixed; left: 0px; top: 0px; z-index: -1; background-color: #FFFFFF; height: 480px; width: 320px;" height=100% width=100%></div>